# LIbrary

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

import seaborn as sns
sns.set(style='white')

import warnings
warnings.filterwarnings('ignore')

# Loading

In [3]:
data = pd.read_csv("./cirrhosis.csv")
data.head()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5000,261.0000,2.6000,156.0000,1718.0000,137.9500,172.0000,190.0000,12.2000,4.0000
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1000,302.0000,4.1400,54.0000,7394.8000,113.5200,88.0000,221.0000,10.6000,3.0000
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4000,176.0000,3.4800,210.0000,516.0000,96.1000,55.0000,151.0000,12.0000,4.0000
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8000,244.0000,2.5400,64.0000,6121.8000,60.6300,92.0000,183.0000,10.3000,4.0000
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4000,279.0000,3.5300,143.0000,671.0000,113.1500,72.0000,136.0000,10.9000,3.0000

In [4]:
data.isnull().sum()

ID                 0
N_Days             0
Status             0
Drug             106
Age                0
Sex                0
Ascites          106
Hepatomegaly     106
Spiders          106
Edema              0
Bilirubin          0
Cholesterol      134
Albumin            0
Copper           108
Alk_Phos         106
SGOT             106
Tryglicerides    136
Platelets         11
Prothrombin        2
Stage              6
dtype: int64

In [6]:
data.describe()

,ID,N_Days,Age,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
count,418.0000,418.0000,418.0000,418.0000,284.0000,418.0000,310.0000,312.0000,312.0000,282.0000,407.0000,416.0000,412.0000
mean,209.5000,1917.7823,18533.3517,3.2208,369.5106,3.4974,97.6484,1982.6558,122.5563,124.7021,257.0246,10.7317,3.0243
std,120.8105,1104.6730,3815.8451,4.4075,231.9445,0.4250,85.6139,2140.3888,56.6995,65.1486,98.3256,1.0220,0.8820
min,1.0000,41.0000,9598.0000,0.3000,120.0000,1.9600,4.0000,289.0000,26.3500,33.0000,62.0000,9.0000,1.0000
25%,105.2500,1092.7500,15644.5000,0.8000,249.5000,3.2425,41.2500,871.5000,80.6000,84.2500,188.5000,10.0000,2.0000
50%,209.5000,1730.0000,18628.0000,1.4000,309.5000,3.5300,73.0000,1259.0000,114.7000,108.0000,251.0000,10.6000,3.0000
75%,313.7500,2613.5000,21272.5000,3.4000,400.0000,3.7700,123.0000,1980.0000,151.9000,151.0000,318.0000,11.1000,4.0000
max,418.0000,4795.0000,28650.0000,28.0000,1775.0000,4.6400,588.0000,13862.4000,457.2500,598.0000,721.0000,18.0000,4.0000